.Header h1 {
  color: #FFFFFF;
  border: 2px solid #00008B;
  width: 100%;
  height: 70px;
  padding: 0%;
  background-color: #00008B;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.Accueil {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.ListeJeux {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 600px){
  .ListeJeux {
    display: flex;
    flex-direction: row;
  }
}

 .portal {
  max-width: 500px;
}

.Shooter {
  max-width: 500px;
}

.Puzzle {
  max-width: 500px;
}

.grand-theft-auto-v {
  max-width: 500px;
}

.poster {
  max-width: 500px;
}

.button {
  width: 50px;
  height: 50px;
}

.Footer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.search__input {
  height: 3rem;
  border-radius: 1rem;
  width: 25rem;
  margin: 0 25rem 0 25rem;

}